* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'instagram-bold';
    src: url('../fonts/billabong.otf') format('otf');
    font-weight: bold;
  }

.content-wrapper {
    margin-top: 60px;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    position: fixed;
    width: 100%;
    background-color: white;
}

.nav-container {
    max-width: 975px;
    padding: 0 20px;
    width: 935px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    justify-content: space-between;
}

.nav--left > li {
    font-family: 'instagram-bold';
}

input:focus {
    outline: none;
}

ul>li>input {
    border-radius: 3px;
    border: 0.5px solid #bdbdbd;
    width: 215px;
    /* height: 28px; */
    background-color: #FAFAFA;
    padding: 7px;
}

.nav--middle {
    padding: 12px 0px 12px 20px;
    align-items: center;
}

.nav--middle > li > input {
    text-align: center;
}

ul > li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

li>a>img {
    width: 22px;
    height: 22px;
    margin-left: 22px;
}