{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<!-- static 연결 -->
<link rel="stylesheet" href="{% static "photo_list.css" %}">
{% endblock %}
{% block content %}
<!-- html 내용 작성 -->
    <div class="card">
        <img src="{{ object.image.url }}" alt="" width="100px" height="100px">
        <div class="card-body">
            <h5>{{ object.author }}</h5>
            <p class="card-text">{{ object.text }}</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item">수정일: {{ object.update }}</li>
            <li class="list-group-item">생성일: {{ object.created }}</li>
        </ul>
        <div class="card-body">
            <a href="{% url 'photo:update' object.id %}" class="card-link">수정하기</a>
            <a href="{% url 'photo:delete' object.id %}" class="card-link">삭제하기</a>
        </div>
    </div>
{% endblock %}